<div>
  <div class="card border-primary mb-2">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
      <!-- <container-wrapper :assignedID.sync="itemID">
        <div class="phantom-spacer">
        </div>
      </container-wrapper> -->
      <div v-drop @assignedID="onIDAssigned">
        <div class="phantom-spacer">
        </div>
      </div>
    </div>
  </div>
  <div class="card border-primary">
    <div class="card-header">{{name}} List</div>
    <div class="card-body">
      <div v-if="getContainerAvailabilty(itemID)">
        Label: {{ itemID }} <br/>
        Content: {{ getContainersDraggableList(itemID) }}
      </div>
    </div>
  </div>
</div>