<div>
  <div class="card border-primary mb-2">
    <div class="card-header">{{ pannelName }}</div>
    <div class="card-body">
      <div v-drop="{'categoryName' : 'kanban'}" @assignedID="onIDAssigned" >
        <div v-for="card in kanbanCards">
          <kanban-card :containerID="itemID"></kanban-card>
        </div>
        <kanban-add-button @valueEntered="addCard"></kanban-add-button>
      </div>
    </div>
  </div>
  <div class="card border-primary">
    <div class="card-header">{{ pannelName }} List</div>
    <div class="card-body">
      <div v-if="getContainerAvailabilty(itemID)">
        Label: {{ itemID }} <br />
        Content: {{ getContainersDraggableList(itemID) }}
      </div>
    </div>
  </div>
</div>
