<div>
  <div class="row flex-row flex-nowrap">
    <div class="col-md-4">
      <div
        class="card mb-2"
        @mouseenter="onMouseEnter"
        @mouseleave="onMouseLeave"
        :class="{'border-primary': mouseOverBoard}"
      >
        <div class="card-header">Default containter</div>
        <div class="card-body">
          <drag-wrapper>
            <kanban-card></kanban-card>
          </drag-wrapper>
          <drag-wrapper>
            <kanban-card></kanban-card>
          </drag-wrapper>
          <drag-wrapper>
            <kanban-card></kanban-card>
          </drag-wrapper>
          <drag-wrapper>
            <kanban-card></kanban-card>
          </drag-wrapper>

          <kanban-card v-drag></kanban-card>
        </div>
      </div>
      <div class="card border-primary">
        <div class="card-header">Default Container List</div>
        <div class="card-body">
          <div v-if="getContainerAvailabilty('default')">
            {{ getContainersDraggableList("default") }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" v-for="col in kanbanColumns">
      <kanban-column :name="col"></kanban-column>
    </div>

    <div class="col-md-4">
      <div class="card ">
        <div class="card-body bg-light">
          <div
            v-if="!showInputField"
            class="btn btn-block btn-light"
            @click="showColumnInput"
          >
            <div class="h3">+</div>
          </div>
          <b-form-input
            v-show="showInputField"
            ref="columnInputField"
            type="text"
            class="form-control"
            v-model="columnText"
            @keyup.enter="addColumn"
            @blur="onBlur"
          />
        </div>
      </div>
    </div>
  </div>
</div>
