<div>
  <div class="row flex-row flex-nowrap">
    <!-- <div class="col-md-4">
      <div
        class="card mb-2"
        @mouseenter="onMouseEnter"
        @mouseleave="onMouseLeave"
        :class="{'border-primary': mouseOverBoard}"
      >
        <div class="card-header">Default containter</div>
        <div class="card-body">
            <kanban-card></kanban-card>
            <kanban-card></kanban-card>
            <kanban-card></kanban-card>
            <kanban-card></kanban-card>
            <kanban-card></kanban-card>
        </div>
      </div>
      <div class="card border-primary">
        <div class="card-header">Default Container List</div>
        <div class="card-body">
          <div v-if="getContainerAvailabilty('default')">
            {{ getContainersDraggableList("default") }}
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4" v-for="col in kanbanColumns">
      <kanban-column :pannelName="col"></kanban-column>
    </div>
    
    <div class="col-md-4">
      <kanban-add-button @valueEntered="addColumn"></kanban-add-button>
    </div>
  </div>
</div>
