<div v-drag="cardModel" @assignedID="onIDAssigned($event)" :id="id">
  <div
    class="card text-white mb-3"
    :class="colorClass"
    @mouseenter="onMouseEnter"
    @mouseleave="onMouseLeave"
  >
    <div class="card-body">
      <div v-if="!isInEdit" class="d-inline">
        {{ text }}
      </div>
      <div v-show="isInEdit">
        <b-form-input
          ref="cardInput"
          type="text"
          v-model="editedText"
          @blur="onBlured"
          @keydown.enter="saveModifications"
        />
      </div>
      <b-button
        v-show="isMouseOver && !isInEdit"
        class="float-right"
        @click="onFocused"
      >
        <i class="fas fa-pencil-alt"></i>
      </b-button>
    </div>
  </div>
  <!-- <kanban-card-modal :cardReady="true"></kanban-card-modal> -->
</div>